body {
  background-color: lightyellow;
}
h1 {
  color: blue;
}

h5 {
  color: red;
}

h2{
    color: blue;
    text-decoration: underline; 
}
p {
  color: black;
  font-family:  Arial, sans-serif;
  font-size: 90%;
  border: 1px solid powderblue;
  padding: 3px;
  margin: 5px auto;
}